.container{
    display: flex;
    justify-content: space-between;
    margin-left: 0px !important;
    padding: 0px;
}
.main{
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 80% !important;
}
aside{
    width: 20%;
}

